.guessTable {
    border: 1px solid black;
    width: fit-content;
    height: min-content;

}
.tableHeaders {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
}

.hedis {
    border-bottom: 1px solid black;
    padding: 10px
}