.profile-dropdown {
  position: absolute;
}

.navButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 25px;
  align-items: center;
  background-color: navy;
  margin: 0;
}